body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    overflow-x: hidden;
}

a{
    color: #666;
}

a:hover{
    color: #191919;
}

.header-item:hover {
    background-color: #df2800;
    border-radius: 5px;
}

.dropdown .dropdown-menu a:hover{
    background-color: #ff9f8a !important;
}
/* a tag's of category not work so we should change z-index 1 to 0 */
.carousel-control-next, .carousel-control-prev{
    z-index: 0 !important;
}
/* ------------ HEADER ------------*/

.logo{
    height: 50px;
    width: auto;
}

/* dropdown category */
.dropdown .dropdown-category{
    margin-left:70px ;
    color: #fff;
}

.navbar-nav > li{
    margin-left:20px ;
    margin-right:20px;
}

.navbar{
    z-index:1;
}

.bg-dark{
    background-color: #1C1C1C !important;
}
/*--------profile ---------*/

.choose-img{
    margin: 20px 30px;
}

.profile-container{
    margin-top: 30px;
}
/* ---------------- */
.profile-sidebar-portlet {
    padding: 30px 0 0!important
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 30%;
    height: 50%;
    margin-left: 35%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 500;
}

.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px
}

.form-info{
    margin-top: 20px;
}

/* province and city */
.two-col{
    width: 90%;
    margin: 20px 10px 20px 0;
    display: inline-block;
    border: none;
    outline: none;
    text-align: justify;
}

.province{
    margin: 0 7px 0 4px;
    padding: 3px 0;
}

.city{
    margin: 0 0 0 55px;
    padding: 3px 40px 3px 0;
}
.confirm-btn{
    background-color: #d2302c;
    color: white;
    font-weight: bold;
}

.confirm-btn:hover{
    background-color: #ae0000;
    color: white;
    font-weight: bold;
}
/* favorites card----------- */
.fav-car-box{
    background-color: white;
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
    margin: 0 2rem;
    display: inline-block;
    width: 95%;
    height: 12rem;
    position: relative;
    border-bottom: 1px solid #d6d7d8;
}

.car-img{
    width: 12rem;
    height: 7rem;
    float: left;
    margin-top: 3rem;
    border-radius: 3px;
}

.title{
    margin: 1.5rem;
    display: inline-block;
}

ion-icon{
    width: 2rem;
    height: 1.5rem;
    color: #5d5d5d;
    margin-bottom: -3px;
}

ion-icon:hover{
    color: #111;
}

.forward{
    width: 2.5rem;
    height: 6.25rem;
    position: absolute;
    top: 25%;
    right: 5%;
}

/* ---------- */

.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.portlet>.portlet-title:after,
.portlet>.portlet-title:before {
    content: " ";
    display: table
}

.portlet>.portlet-title:after {
    clear: both
}

.portlet>.portlet-body {
    clear: both;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.portlet.bordered>.portlet-title {
    border-bottom: 0
}

.portlet.box {
    padding: 0!important
}

.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff
}

.portlet.box>.portlet-title>.actions {
    padding: 7px 0 5px
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 15px
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important
}

.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5
}

.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px
}

@media (max-width:991px) {
    .portlet-collapsed-on-mobile {
        display: none
    }
}
/*--------- Footer --------- */
.footer-div{
    width: 100%;
    height: auto;
    margin: auto;
    background: #1C1C1C;
    padding: 20px 0px;
}
/* first and second line of footer */
.footer-menu-one, .footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-menu-one ul,
.footer-menu-two ul{
    text-align: center;
}

.footer-menu-one ul li{
    display: inline-block;
    margin: 5px 20px;
}

.footer-menu-one ul li a,
.footer-menu-two ul li a,
.footer-web{
    color: #aaa;
    letter-spacing: 1px;
}

.footer-web{
    text-align: center;
    font-size: 14px;
}

.footer-menu-two ul li{
    display: inline-block;
    margin: 5px 3px;
}

.footer-menu-two ul li a{
    font-size: 13px;
    font-weight: 100;
}

.footer-web:hover{
    color: #fdfdfd;
}
